%header.header
  .container
    .navbar.navbar-expand-lg.navbar-dark
      = link_to root_path, class: "navbar-brand text-warning" do
        = image_tag asset_path("logo_expe_ingenieria_aplicada_en_obra_electrica.png"), alt: "ExpeQuotation", height: "50"
      %button.navbar-toggler{"type" => "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNav", "aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        %ul.navbar-nav.me-auto
          - if user_signed_in?
            %li.nav-item
              = link_to "Clientes", clients_path, class: "nav-link"
            %li.nav-item
              = link_to "Proyectos", projects_path, class: "nav-link"
            %li.nav-item
              = link_to "Cotizaciones", quotations_path, class: "nav-link"
            %li.nav-item
              = link_to "Materiales", materials_path, class: "nav-link"
            %li.nav-item
              = link_to "Servicios", services_path, class: "nav-link"
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{"href" => "#", "role" => "button", "data-controller" => "dark-mode", "data-action" => "click->dark-mode#toggle"}
              %i.bi.bi-moon
          - if user_signed_in?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"href" => "#", "role" => "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
                = current_user.name
              .dropdown-menu.dropdown-menu-end
                = link_to "Perfil", edit_user_registration_path, class: "dropdown-item"
                = link_to "Cerrar sesión", destroy_user_session_path, method: :delete,
                    data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" },
                    class: "dropdown-item"
          - else
            %li.nav-item
              = link_to "Iniciar sesión", new_user_session_path, class: "nav-link"