= form_with model: [@quotation, @quotation_item], local: true do |form|
  - if @quotation_item.errors.any?
    .alert.alert-danger
      %h4= pluralize(@quotation_item.errors.count, "error")
      %ul
        - @quotation_item.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group.mb-3
        = form.label :item_type, "Item Type", class: "form-label"
        = form.select :item_type, options_for_select(QuotationItem.item_types.map { |k, v| [k.to_s.humanize, k] }, @quotation_item.item_type), { prompt: "Select Type" }, { class: "form-select" }

      .form-group.mb-3
        = form.label :description, class: "form-label"
        = form.text_area :description, class: "form-control", rows: 3

      .form-group.mb-3
        = form.label :quantity, class: "form-label"
        = form.number_field :quantity, class: "form-control", step: 0.01, value: @quotation_item.quantity&.to_f || 0

    .col-md-6
      .form-group.mb-3
        = form.label :unit, class: "form-label"
        = form.select :unit, options_for_select(QuotationItem.units.map { |k, v| [k.to_s.humanize, k] }, @quotation_item.unit), { prompt: "Select Unit" }, { class: "form-select" }

      .form-group.mb-3
        = form.label :unit_price, class: "form-label"
        = form.number_field :unit_price, class: "form-control", step: 0.01, value: @quotation_item.unit_price&.to_f || 0

      .form-group.mb-3
        = form.label :currency, class: "form-label"
        = form.select :currency, options_for_select(QuotationItem.currencies.map { |k, v| [k, k] }, @quotation_item.currency), { prompt: "Select Currency" }, { class: "form-select" }

  .form-group.mb-3
    = form.label :amount, class: "form-label"
    = form.number_field :amount, class: "form-control", step: 0.01, value: @quotation_item.amount&.to_f || 0

  .actions
    = form.submit class: "btn btn-primary"
    = link_to "Cancel", quotation_path(@quotation), class: "btn btn-secondary"